*,
*::before,
*::after {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;

	color: inherit;
}

body {
	font-family: $font-family-1;
	font-size: $font-size-1;
	font-weight: 400;

	color: $color-1;
	background-color: $color-2;
}

.container {
	max-width: 1170px;

	margin-left: auto;
	margin-right: auto;

	padding-left: $padding-1;
	padding-right: $padding-1;

	display: flex;
	flex-wrap: wrap;

	position: relative;
}

.page-main {
	width: 100%;
	margin-top: $padding-1;
}
