$font-family-1: "Roboto", Arial, sans-serif;

$font-size-1: 18px;
$font-size-2: 22px;
$font-size-3: 26px;
$font-size-4: 28px;
$font-size-5: 32px;

$color-1: rgb(42, 42, 42);
$color-2: rgb(228, 228, 228);
$color-3: rgb(42, 135, 241);
$color-4: rgb(241, 221, 42);

$padding-0: 45px;
$padding-1: 25px;
$padding-2: 15px;
$padding-3: 10px;
$padding-4: 5px;

$transition-slow: 0.3s;
$transition-medium: 0.2s;
$transition-fast: 0.1s;

$box-shadow-1: 0px 20px 30px 3px rgba(0, 0, 0, 0.1);
$box-shadow-2: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
